# Ignorar dependências do Node.js de qualquer pasta
**/node_modules

# Ignorar arquivos de log do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivo de ambiente com segredos
.env

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de cache e build
/dist
.cache